<mat-card appearance="outlined">
  <mat-card-content>
    <table class="user-table">
      <tr>
        <th>Name</th>
        <th>Street</th>
        <th>City</th>
        <th>Email</th>
        <th>Birthday</th>
        <th>Department</th>
      </tr>

      <tr *ngFor="let user of allUsers" [routerLink]="['/user/' + user.customIdName]">
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{user.street}}</td>
        <td>{{user.city}}</td>
        <td>{{user.email}}</td>
        <td>{{ getFormattedBirthDate(user.birthDate) }}</td>
        <td>{{user.department}}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>

<button
  (click)="openDialogue()"
  mat-fab
  class="add-user-btn"
  matTooltip="Add user"
  matTooltipPosition="above"
>
  <mat-icon>add</mat-icon>
</button>
