<mat-card appearance="outlined">
  <mat-card-content>
    <table class="user-table">
      <tr>
        <th>Name</th>
        <th>Street</th>
        <th>City</th>
        <th>Email</th>
        <th>Birthday</th>
      </tr>
      <tr>
        <td>ndhdb</td>
        <td>ndksndj</td>
        <td>lajdjd</td>
        <td>oaond</td>
        <td>oemsnd</td>
      </tr>
      <tr>
        <td>ndhdb</td>
        <td>ndksndj</td>
        <td>lajdjd</td>
        <td>oaond</td>
        <td>oemsnd</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>

<button
  (click)="openDialogue()"
  mat-fab
  class="add-user-btn"
  matTooltip="Add user"
  matTooltipPosition="above"
>
  <mat-icon>add</mat-icon>
</button>
