mat-toolbar {
  height: 57px;
  gap: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(135deg, #004d60, #00bcd4);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.mat-drawer-container {
  height: 100vh;
}

.menu-icon {
  cursor: pointer;
}

.sidenav {
  width: 300px;
  background-color: #121212; 
  color: white;
  box-shadow:  4px 0 10px rgba(0, 0, 0, 0.3);
}

.logo-container {
  border-bottom: 1px solid white;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 56px;
  max-width: 100%;
  display: flex;
  align-items: center;
  > img {
    height: 56px;
    width: auto;
  }
}

.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  > li {
    padding-left: 16px;
    padding-right: 16px;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    mat-icon {
      margin-right: 16px;
      color: lightcyan;
    }
    &:hover {
      background-color: rgba(0, 255, 255, 0.2);
    }
    &:focus {
      outline: none;
    }
  }
}

.router-container {
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 16px;

}
