<mat-card class="user-detail-header">
  <img class="img" src="assets/img/avatar.png" alt="Avatar" />
  <div class="user-details">
    <h2>Donnacha O'Sullivan</h2>
    email&#64;email.de
  </div>
</mat-card>

<mat-card class="mt-32 address-details" appearance="outlined">
  <button mat-icon-button class="pin-right-upper-corner" (click)="openAddressDialogue()">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-card-header>
    <mat-card-title>Address</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Musterstraße 28 <br />
    12345 Musterstadt
  </mat-card-content>
</mat-card>
