<mat-card class="user-detail-header">
  <button [matMenuTriggerFor]="userMenu" mat-icon-button class="pin-right-upper-corner">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="editUserDetail()">Edit</button>
  </mat-menu>

  <img class="img" src="assets/img/avatar.png" alt="Avatar" />
  <div class="user-details">
    <h2>{{user.firstName}} {{user.lastName}}</h2>
    <p>{{user.email}}</p>
  </div>
</mat-card>

<mat-card class="mt-32 address-details" appearance="outlined">
  <button [matMenuTriggerFor]="addressMenu" mat-icon-button class="pin-right-upper-corner">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #addressMenu="matMenu">
    <button mat-menu-item (click)="editAddressDetail()">Edit</button>
  </mat-menu>

  <mat-card-header>
    <mat-card-title>Address</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{user.street}} <br />
    {{user.zipCode}} {{user.city}}
  </mat-card-content>
</mat-card>
