<div class="total-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Total Users</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h2>{{ totalUsers }}</h2>
    </mat-card-content>
  </mat-card>

  <div *ngIf="donutChartLabels.length > 0" class="chart-container">
    <canvas
      baseChart
      [data]="donutChartData"
      [type]="donutChartType"
      [options]="donutChartOptions"
    >
    </canvas>
  </div>
</div>

<mat-card class="recentChanges">
  <mat-card-header>
    <mat-card-title>Recent Changes</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let change of recentChanges">
        <span>{{ change.newInfo.firstName }} {{ change.newInfo.lastName }} updated their info:</span>
        <div *ngFor="let changeField of getChangedFields(change.oldInfo, change.newInfo)">
          <p><b>Changed</b> {{ changeField.oldValue }} <b>to</b> {{ changeField.newValue }}</p>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
